<?xml version="1.0"?>
<launch>
  <node pkg="timed_roslaunch" type="timed_roslaunch.sh" args="1 orne_bringup orne_gamma.launch" name="timed_roslaunch" output="screen" />

  <node pkg="timed_roslaunch" type="timed_roslaunch.sh" args="3 orne_navigation_executor play_waypoints_nav_gamma.launch map_file:=/home/orne/map/cit18f waypoints_file:=/home/orne/map/cit18f_way.yaml" name="timed_roslaunch2" />
</launch>


